# Tarea: Aprendiendo MariaDB

In [13]:
#seeing users
SELECT User,Host FROM mysql.user;

User,Host
asus,localhost
mariadb.sys,localhost
mysql,localhost
root,localhost

#### Creating an user:
mysql -u root -p -e "GRANT USAGE ON \*.* TO 'user' IDENTIFIED BY 'password"
#### to give a user all privileges, replace SELECT with ALL:
mysql -u root -p -e "GRANT ALL ON *.* TO 'user'@'localhost';"

## Chapter 3. The Basics and the mysql Client

#### Connecting to the Server: (on command line)
mysql -u user -p

#### Comandos de ayuda estando adentro de MariaDB: 
help - help contents - help Data Manipulation - help SHOW DATABASES

#### Starting to Explore Databases:

In [1]:
#pg 62
show databases;

Database
grupos
information_schema
mysql
performance_schema
sakila

In [2]:
CREATE DATABASE test;

In [3]:
CREATE TABLE test.books (book_id INT, title TEXT, status INT);

In [4]:
SHOW TABLES FROM test;

Tables_in_test
10_C
10_b
books
status_names

In [4]:
USE test;

In [5]:
SHOW TABLES;

Tables_in_test
10_C
10_b
books
status_names

In [6]:
DESCRIBE books;

Field,Type,Null,Key,Default,Extra
book_id,int(11),YES,,NULL,
title,text,YES,,NULL,
status,int(11),YES,,NULL,

## INSERTAR Y MANIPULAR DATOS

In [6]:
INSERT INTO books VALUES(100, 'Heart of Darkness', 0);
INSERT INTO books VALUES(101, 'The of the Rye', 1);
INSERT INTO books VALUES(102, 'My Antonia', 0);

In [7]:
SELECT * FROM books;
SELECT * FROM books WHERE status = 1;

book_id,title,status
100,Heart of Darkness,0
101,The of the Rye,1
102,My Antonia,0
book_id,title,status
101,The of the Rye,1

In [8]:
SELECT * FROM books WHERE status = 0 ;
UPDATE books SET status = 1 WHERE book_id = 102;
SELECT * FROM books;

book_id,title,status
100,Heart of Darkness,0
102,My Antonia,0
book_id,title,status
100,Heart of Darkness,0
101,The of the Rye,1
102,My Antonia,1

In [9]:
SELECT * FROM books WHERE status = 1;
UPDATE books SET status = 0 WHERE book_id = 101;
SELECT * FROM books WHERE status = 0;

book_id,title,status
101,The of the Rye,1
102,My Antonia,1
book_id,title,status
100,Heart of Darkness,0
101,The of the Rye,0

## Un poco de complejidad

In [32]:
CREATE TABLE status_names (status_id INT, status_name CHAR(8));
INSERT INTO status_names VALUES(0, 'Inactive'), (1, 'Active');

In [33]:
SELECT * FROM status_names;

status_id,status_name
0,Inactive
1,Active

In [14]:
SELECT book_id, title, status_name 
FROM books JOIN status_names 
WHERE status_id = status;

book_id,title,status_name
100,Heart of Darkness,Inactive
101,The of the Rye,Inactive
102,My Antonia,Active

## Chapter 4. Creating Databases and Tables

In [15]:


create database rookery
character set latin1
collate latin1_bin;

Can't drop database 'rooker'; database doesn't exist
(B(B

In [18]:
show databases;
use rookery;

Database
grupos
information_schema
mysql
performance_schema
rookery
sakila
test

In [19]:
show tables;

In [20]:
create table birds (
bird_id int auto_increment primary key,
scientific_name varchar(255) unique,
common_name varchar(50),
famyly_id INT,
description TEXT);

In [21]:
describe birds;

Field,Type,Null,Key,Default,Extra
bird_id,int(11),NO,PRI,NULL,auto_increment
scientific_name,varchar(255),YES,UNI,NULL,
common_name,varchar(50),YES,,NULL,
famyly_id,int(11),YES,,NULL,
description,text,YES,,NULL,

In [22]:
Insert into birds (scientific_name, common_name)
values('Charadrius vociferus', 'Killdeer'),
('Gavia immer', 'Great Northern Loon'),
('Aix sponsa', 'Wood Duck'),
('Chordeiles minor', 'Common Nighthawk'),
('Sitta carolinensis', ' White-breasted Nuthatch'),
('Apteryx mantelli', 'North Island Brown Kiwi');

In [23]:
select * from birds;

bird_id,scientific_name,common_name,famyly_id,description
1,Charadrius vociferus,Killdeer,NULL,NULL
2,Gavia immer,Great Northern Loon,NULL,NULL
3,Aix sponsa,Wood Duck,NULL,NULL
4,Chordeiles minor,Common Nighthawk,NULL,NULL
5,Sitta carolinensis,White-breasted Nuthatch,NULL,NULL
6,Apteryx mantelli,North Island Brown Kiwi,NULL,NULL

In [25]:
create database birdwatchers;
create table birdwatchers.humans(
human_id int auto_increment primary key,
formal_title varchar(25),
name_first varchar(25),
name_last varchar(25),
email_adress varchar(50));

In [29]:
INSERT INTO birdwatchers.humans
(formal_title, name_first, name_last, email_adress)
VALUES
('Mr.', 'Russell', 'Dyer', 'russell@mysqlresources.com'),
('Mr.', 'Richard', 'Stringer', 'richard@mysqlresources.com'),
('Ms.', 'Rusty', 'Osborne', 'rusty@mysqlresources.com'),
('Ms.', 'Lexi', 'Hollar', 'alexandra@mysqlresources.com');

In [30]:
show tables from birdwatchers;

Tables_in_birdwatchers
humans

In [31]:
Create table bird_families(
family_id int auto_increment primary key,
scientific_name varchar(50) unique,
brief_description varchar(255));

In [33]:
create table bird_orders (
order_id int auto_increment primary key,
scientific_name varchar(255) unique,
brief_description varchar(255),
order_image blob
) default charset = utf8 collate = utf8_general_ci;

# Capitulo 5

In [3]:
use rookery;
alter table bird_families
add column order_id INT;

In [4]:
describe bird_families;

Field,Type,Null,Key,Default,Extra
family_id,int(11),NO,PRI,NULL,auto_increment
scientific_name,varchar(50),YES,UNI,NULL,
brief_description,varchar(255),YES,,NULL,
order_id,int(11),YES,,NULL,

In [5]:
create table test.bird_new like birds;

In [6]:
use test;

In [7]:
show tables;

Tables_in_test
bird_new
books
status_names

In [9]:
describe bird_new;

Field,Type,Null,Key,Default,Extra
bird_id,int(11),NO,PRI,NULL,auto_increment
scientific_name,varchar(255),YES,UNI,NULL,
common_name,varchar(50),YES,,NULL,
famyly_id,int(11),YES,,NULL,
description,text,YES,,NULL,

In [10]:
insert into bird_new
select * from rookery.birds;

In [13]:
select * from bird_new;
select * from rookery.birds;

bird_id,scientific_name,common_name,famyly_id,description
1,Charadrius vociferus,Killdeer,NULL,NULL
2,Gavia immer,Great Northern Loon,NULL,NULL
3,Aix sponsa,Wood Duck,NULL,NULL
4,Chordeiles minor,Common Nighthawk,NULL,NULL
5,Sitta carolinensis,White-breasted Nuthatch,NULL,NULL
6,Apteryx mantelli,North Island Brown Kiwi,NULL,NULL
bird_id,scientific_name,common_name,famyly_id,description
1,Charadrius vociferus,Killdeer,NULL,NULL
2,Gavia immer,Great Northern Loon,NULL,NULL
3,Aix sponsa,Wood Duck,NULL,NULL
4,Chordeiles minor,Common Nighthawk,NULL,NULL
5,Sitta carolinensis,White-breasted Nuthatch,NULL,NULL
6,Apteryx mantelli,North Island Brown Kiwi,NULL,NULL

In [14]:
create table birds_new_alternative
select * from rookery.birds;

In [15]:
DROP TABLE birds_new_alternative;

In [17]:
alter table bird_new
add column wing_id char(2);

Duplicate column name 'wing_id'
(B(B<TABLE BORDER=1><TR><TH>Field</TH><TH>Type</TH><TH>Null</TH><TH>Key</TH><TH>Default</TH><TH>Extra</TH></TR><TR><TD>bird_id</TD><TD>int(11)</TD><TD>NO</TD><TD>PRI</TD><TD>NULL</TD><TD>auto_increment</TD></TR><TR><TD>scientific_name</TD><TD>varchar(255)</TD><TD>YES</TD><TD>UNI</TD><TD>NULL</TD><TD></TD></TR><TR><TD>common_name</TD><TD>varchar(50)</TD><TD>YES</TD><TD></TD><TD>NULL</TD><TD></TD></TR><TR><TD>famyly_id</TD><TD>int(11)</TD><TD>YES</TD><TD></TD><TD>NULL</TD><TD></TD></TR><TR><TD>description</TD><TD>text</TD><TD>YES</TD><TD></TD><TD>NULL</TD><TD></TD></TR><TR><TD>wing_id</TD><TD>char(2)</TD><TD>YES</TD><TD></TD><TD>NULL</TD><TD></TD></TR></TABLE>

In [19]:
describe bird_new;

Field,Type,Null,Key,Default,Extra
bird_id,int(11),NO,PRI,NULL,auto_increment
scientific_name,varchar(255),YES,UNI,NULL,
common_name,varchar(50),YES,,NULL,
famyly_id,int(11),YES,,NULL,
description,text,YES,,NULL,
wing_id,char(2),YES,,NULL,

In [20]:
alter table bird_new
drop column wing_id;
describe bird_new;

Field,Type,Null,Key,Default,Extra
bird_id,int(11),NO,PRI,NULL,auto_increment
scientific_name,varchar(255),YES,UNI,NULL,
common_name,varchar(50),YES,,NULL,
famyly_id,int(11),YES,,NULL,
description,text,YES,,NULL,

In [22]:
alter table bird_new
add column wing_id char(2) after famyly_id;

In [23]:
describe bird_new;

Field,Type,Null,Key,Default,Extra
bird_id,int(11),NO,PRI,NULL,auto_increment
scientific_name,varchar(255),YES,UNI,NULL,
common_name,varchar(50),YES,,NULL,
famyly_id,int(11),YES,,NULL,
wing_id,char(2),YES,,NULL,
description,text,YES,,NULL,

In [24]:
alter table bird_new
add column body_id char(2) after wing_id,
add column bill_id char(2) after body_id,
add column endangered bit default b'1' after bill_id,
change column common_name common_name varchar(255);

In [26]:
update bird_new set endangered = 0
where bird_id in(1,2,4,5);

In [27]:
SELECT bird_id, scientific_name, common_name
FROM bird_new
WHERE endangered;

bird_id,scientific_name,common_name
3,Aix sponsa,Wood Duck
6,Apteryx mantelli,North Island Brown Kiwi

In [28]:
select * from bird_new;

bird_id,scientific_name,common_name,famyly_id,wing_id,body_id,bill_id,endangered,description
1,Charadrius vociferus,Killdeer,NULL,NULL,NULL,NULL,,NULL
2,Gavia immer,Great Northern Loon,NULL,NULL,NULL,NULL,,NULL
3,Aix sponsa,Wood Duck,NULL,NULL,NULL,NULL,,NULL
4,Chordeiles minor,Common Nighthawk,NULL,NULL,NULL,NULL,,NULL
5,Sitta carolinensis,White-breasted Nuthatch,NULL,NULL,NULL,NULL,,NULL
6,Apteryx mantelli,North Island Brown Kiwi,NULL,NULL,NULL,NULL,,NULL

In [29]:
select * from bird_new
where not endangered;

bird_id,scientific_name,common_name,famyly_id,wing_id,body_id,bill_id,endangered,description
1,Charadrius vociferus,Killdeer,NULL,NULL,NULL,NULL,,NULL
2,Gavia immer,Great Northern Loon,NULL,NULL,NULL,NULL,,NULL
4,Chordeiles minor,Common Nighthawk,NULL,NULL,NULL,NULL,,NULL
5,Sitta carolinensis,White-breasted Nuthatch,NULL,NULL,NULL,NULL,,NULL

In [34]:
alter table bird_new
drop column endangered;

In [35]:
alter table bird_new
add column endangered
enum('Extinct',
'Extinct in Wild',
'Threatened - Critically Endangered',
'Threatened - Endangered',
'Threatened - Vulnerable',
'Lower Risk - Conservation Dependent',
'Lower Risk - Near Threatened',
'Lower Risk - Least Concern')
after famyly_id;

In [36]:
describe bird_new;

Field,Type,Null,Key,Default,Extra
bird_id,int(11),NO,PRI,NULL,auto_increment
scientific_name,varchar(255),YES,UNI,NULL,
common_name,varchar(255),YES,,NULL,
famyly_id,int(11),YES,,NULL,
endangered,"enum('Extinct','Extinct in Wild','Threatened - Critically Endangered','Threatened - Endangered','Threatened - Vulnerable','Lower Risk - Conservation Dependent','Lower Risk - Near Threatened','Lower Risk - Least Concern')",YES,,NULL,
wing_id,char(2),YES,,NULL,
body_id,char(2),YES,,NULL,
bill_id,char(2),YES,,NULL,
description,text,YES,,NULL,

In [38]:
update bird_new
set endangered = 7;

In [39]:
update bird_new
set endangered = 1
where bird_id in (1,2);

In [41]:
select * from bird_new;

bird_id,scientific_name,common_name,famyly_id,endangered,wing_id,body_id,bill_id,description
1,Charadrius vociferus,Killdeer,NULL,Extinct,NULL,NULL,NULL,NULL
2,Gavia immer,Great Northern Loon,NULL,Extinct,NULL,NULL,NULL,NULL
3,Aix sponsa,Wood Duck,NULL,Lower Risk - Near Threatened,NULL,NULL,NULL,NULL
4,Chordeiles minor,Common Nighthawk,NULL,Lower Risk - Near Threatened,NULL,NULL,NULL,NULL
5,Sitta carolinensis,White-breasted Nuthatch,NULL,Lower Risk - Near Threatened,NULL,NULL,NULL,NULL
6,Apteryx mantelli,North Island Brown Kiwi,NULL,Lower Risk - Near Threatened,NULL,NULL,NULL,NULL

In [47]:
use birdwatchers;
create table surveys
(survey_id int auto_increment key,
survey_name varchar(255));

create table survey_questions
(question_id int auto_increment key,
survey_id int, 
question varchar(255),
choices blob);

create table survey_answers
(answer_id int auto_increment key,
human_id int,
question_id int,
date_answered datetime,
answer varchar(255));

In [43]:
insert into surveys (survey_name)
values("favorite birding location");

insert into survey_questions
(survey_id, question, choices)
values(last_insert_id(),
      "what's your favorite setting for bird-watching?",
      column_create('1', 'forest', '2', 'shore', '3', 'backyard'));

insert into surveys(survey_name)
values("preferred birds");

insert into survey_questions
(survey_id, question, choices)
values(last_insert_id(),
      "which type of birds do you like best?",
      column_create ('1', 'perching', '2', 'shore', '3', 'fowl', '4', 'rapture'));

## Optional Changes

In [2]:
CREATE TABLE rookery.conservation_status
(status_id INT AUTO_INCREMENT PRIMARY KEY,
conservation_category CHAR(10),
conservation_state CHAR(25) );

In [3]:
INSERT INTO rookery.conservation_status
(conservation_category, conservation_state)
VALUES('Extinct','Extinct'),
('Extinct','Extinct in Wild'),
('Threatened','Critically Endangered'),
('Threatened','Endangered'),
('Threatened','Vulnerable'),
('Lower Risk','Conservation Dependent'),
('Lower Risk','Near Threatened'),('Lower Risk','Least Concern');

In [4]:
SELECT * FROM rookery.conservation_status;

status_id,conservation_category,conservation_state
1,Extinct,Extinct
2,Extinct,Extinct in Wild
3,Threatened,Critically Endangered
4,Threatened,Endangered
5,Threatened,Vulnerable
6,Lower Risk,Conservation Dependent
7,Lower Risk,Near Threatened
8,Lower Risk,Least Concern

In [11]:
use test;

In [12]:
ALTER TABLE bird_new
CHANGE COLUMN endangered conservation_status_id INT DEFAULT 8;

In [14]:
select * from bird_new;

bird_id,scientific_name,common_name,famyly_id,conservation_status_id,wing_id,body_id,bill_id,description
1,Charadrius vociferus,Killdeer,NULL,1,NULL,NULL,NULL,NULL
2,Gavia immer,Great Northern Loon,NULL,1,NULL,NULL,NULL,NULL
3,Aix sponsa,Wood Duck,NULL,7,NULL,NULL,NULL,NULL
4,Chordeiles minor,Common Nighthawk,NULL,7,NULL,NULL,NULL,NULL
5,Sitta carolinensis,White-breasted Nuthatch,NULL,7,NULL,NULL,NULL,NULL
6,Apteryx mantelli,North Island Brown Kiwi,NULL,7,NULL,NULL,NULL,NULL

In [15]:
ALTER TABLE bird_new
ALTER conservation_status_id SET DEFAULT 7;

In [17]:
SHOW COLUMNS FROM bird_new LIKE 'conservation_status_id';

Field,Type,Null,Key,Default,Extra
conservation_status_id,int(11),YES,,7,

In [19]:
ALTER TABLE bird_new
ALTER conservation_status_id DROP DEFAULT;

In [20]:
select * from bird_new;

bird_id,scientific_name,common_name,famyly_id,conservation_status_id,wing_id,body_id,bill_id,description
1,Charadrius vociferus,Killdeer,NULL,1,NULL,NULL,NULL,NULL
2,Gavia immer,Great Northern Loon,NULL,1,NULL,NULL,NULL,NULL
3,Aix sponsa,Wood Duck,NULL,7,NULL,NULL,NULL,NULL
4,Chordeiles minor,Common Nighthawk,NULL,7,NULL,NULL,NULL,NULL
5,Sitta carolinensis,White-breasted Nuthatch,NULL,7,NULL,NULL,NULL,NULL
6,Apteryx mantelli,North Island Brown Kiwi,NULL,7,NULL,NULL,NULL,NULL

In [21]:
SHOW COLUMNS FROM bird_new LIKE 'conservation_status_id';

Field,Type,Null,Key,Default,Extra
conservation_status_id,int(11),YES,,NULL,

### Setting the Value of AUTO_INCREMENT

In [22]:
SELECT auto_increment
FROM information_schema.tables
WHERE table_name = 'birds';

auto_increment
7

In [23]:
USE rookery
ALTER TABLE birds
AUTO_INCREMENT = 10;

### Another Method to Alter and Create a Table

In [24]:
CREATE TABLE birds_new LIKE birds;

In [25]:
DESCRIBE birds;
DESCRIBE birds_new;
SELECT * FROM birds_new;

Field,Type,Null,Key,Default,Extra
bird_id,int(11),NO,PRI,NULL,auto_increment
scientific_name,varchar(255),YES,UNI,NULL,
common_name,varchar(50),YES,,NULL,
famyly_id,int(11),YES,,NULL,
description,text,YES,,NULL,
Field,Type,Null,Key,Default,Extra
bird_id,int(11),NO,PRI,NULL,auto_increment
scientific_name,varchar(255),YES,UNI,NULL,
common_name,varchar(50),YES,,NULL,
famyly_id,int(11),YES,,NULL,
description,text,YES,,NULL,

In [27]:
SHOW CREATE TABLE birds;

Table,Create Table
birds,"CREATE TABLE `birds` ( `bird_id` int(11) NOT NULL AUTO_INCREMENT, `scientific_name` varchar(255) COLLATE latin1_bin DEFAULT NULL, `common_name` varchar(50) COLLATE latin1_bin DEFAULT NULL, `famyly_id` int(11) DEFAULT NULL, `description` text COLLATE latin1_bin DEFAULT NULL, PRIMARY KEY (`bird_id`), UNIQUE KEY `scientific_name` (`scientific_name`) ) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=latin1 COLLATE=latin1_bin"

In [28]:
ALTER TABLE birds_new
AUTO_INCREMENT = 6;

In [29]:
CREATE TABLE birds_details
SELECT bird_id, description
FROM birds;

In [30]:
DESCRIBE birds_details;

Field,Type,Null,Key,Default,Extra
bird_id,int(11),NO,,0,
description,text,YES,,NULL,

In [31]:
ALTER TABLE birds
DROP COLUMN description;

In [32]:
DESCRIBE birds;

Field,Type,Null,Key,Default,Extra
bird_id,int(11),NO,PRI,NULL,auto_increment
scientific_name,varchar(255),YES,UNI,NULL,
common_name,varchar(50),YES,,NULL,
famyly_id,int(11),YES,,NULL,

### Renaming a Table

In [35]:
RENAME TABLE table1_altered
TO table1;

Table 'rookery.table1_altered' doesn't exist
(B(B

In [34]:
RENAME TABLE rookery.birds TO rookery.birds_old,
test.bird_new TO rookery.birds;

In [36]:
SHOW TABLES IN rookery LIKE 'birds%';

Tables_in_rookery (birds%)
birds
birds_details
birds_new
birds_old

In [37]:
DROP TABLE birds_old;

In [38]:
SHOW TABLES IN rookery LIKE 'birds%';

Tables_in_rookery (birds%)
birds
birds_details
birds_new

### Reordering a Table

descargar base de datos

In [ ]:
ALTER TABLE country_codes
ORDER BY country_code;

In [ ]:
SELECT * FROM
country_codes LIMIT 5;

In [ ]:
SELECT * FROM country_codes
ORDER BY country_name
LIMIT 5;

## Indexes

In [40]:
ALTER TABLE conservation_status
CHANGE status_id conservation_status_id INT AUTO_INCREMENT PRIMARY KEY;

Multiple primary key defined
(B(B

In [42]:
describe conservation_status;

Field,Type,Null,Key,Default,Extra
status_id,int(11),NO,PRI,NULL,auto_increment
conservation_category,char(10),YES,,NULL,
conservation_state,char(25),YES,,NULL,

In [43]:
SHOW INDEX FROM birdwatchers.humans;

Table,Non_unique,Key_name,Seq_in_index,Column_name,Collation,Cardinality,Sub_part,Packed,Null,Index_type,Comment,Index_comment
humans,0,PRIMARY,1,human_id,A,4,NULL,NULL,,BTREE,,

In [44]:
EXPLAIN SELECT * FROM birdwatchers.humans
WHERE name_last = 'Hollar';

id,select_type,table,type,possible_keys,key,key_len,ref,rows,Extra
1,SIMPLE,humans,ALL,NULL,NULL,NULL,NULL,4,Using where

In [45]:
ALTER TABLE birdwatchers.humans
ADD INDEX human_names (name_last, name_first);

In [46]:
SHOW CREATE TABLE birdwatchers.humans;

Table,Create Table
humans,"CREATE TABLE `humans` ( `human_id` int(11) NOT NULL AUTO_INCREMENT, `formal_title` varchar(25) DEFAULT NULL, `name_first` varchar(25) DEFAULT NULL, `name_last` varchar(25) DEFAULT NULL, `email_adress` varchar(50) DEFAULT NULL, PRIMARY KEY (`human_id`), KEY `human_names` (`name_last`,`name_first`) ) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4"

In [47]:
SHOW INDEX FROM birdwatchers.humans
WHERE Key_name = 'human_names';

Table,Non_unique,Key_name,Seq_in_index,Column_name,Collation,Cardinality,Sub_part,Packed,Null,Index_type,Comment,Index_comment
humans,1,human_names,1,name_last,A,4,NULL,NULL,YES,BTREE,,
humans,1,human_names,2,name_first,A,4,NULL,NULL,YES,BTREE,,

In [48]:
EXPLAIN SELECT * FROM birdwatchers.humans
WHERE name_last = 'Hollar';

id,select_type,table,type,possible_keys,key,key_len,ref,rows,Extra
1,SIMPLE,humans,ref,human_names,human_names,103,const,1,Using index condition

In [49]:
ALTER TABLE conservation_status
DROP PRIMARY KEY,
CHANGE status_id conservation_status_id INT PRIMARY KEY AUTO_INCREMENT;

# Part III. Basics of Handling Data

# Chapter 6. Inserting Data

## The Syntax

In [ ]:
INSERT INTO books
VALUES('The Big Sleep', 'Raymond Chandler', '1934');

In [ ]:
INSERT INTO books
VALUES('The Thirty-Nine Steps', 'John Buchan', DEFAULT);

In [ ]:
INSERT INTO books
(author, title)
VALUES('Evelyn Waugh','Brideshead Revisited');

In [ ]:
INSERT INTO books
(title, author, year)
VALUES('Visitation of Spirits','Randall Kenan','1989'),
('Heart of Darkness','Joseph Conrad','1902'),
('The Idiot','Fyodor Dostoevsky','1871');

## Practical Examples

In [56]:
use rookery;

In [57]:
DESCRIBE bird_orders;

Field,Type,Null,Key,Default,Extra
order_id,int(11),NO,PRI,NULL,auto_increment
scientific_name,varchar(255),YES,UNI,NULL,
brief_description,varchar(255),YES,,NULL,
order_image,blob,YES,,NULL,

In [58]:
ALTER TABLE bird_orders
AUTO_INCREMENT = 100;

In [59]:
INSERT INTO bird_orders (scientific_name, brief_description)
VALUES('Anseriformes', "Waterfowl"),
('Galliformes', "Fowl"),
('Charadriiformes', "Gulls, Button Quails, Plovers"),
('Gaviiformes', "Loons"),
('Podicipediformes', "Grebes"),
('Procellariiformes', "Albatrosses, Petrels"),
('Sphenisciformes', "Penguins"),
('Pelecaniformes', "Pelicans"),
('Phaethontiformes', "Tropicbirds"),
('Ciconiiformes', "Storks"),
('Cathartiformes', "New-World Vultures"),
('Phoenicopteriformes', "Flamingos"),
('Falconiformes', "Falcons, Eagles, Hawks"),
('Gruiformes', "Cranes"),
('Pteroclidiformes', "Sandgrouse"),
('Columbiformes', "Doves and Pigeons"),
('Psittaciformes', "Parrots"),
('Cuculiformes', "Cuckoos and Turacos"),
('Opisthocomiformes', "Hoatzin"),
('Strigiformes', "Owls"),
('Struthioniformes', "Ostriches, Emus, Kiwis"),
('Tinamiformes', "Tinamous"),
('Caprimulgiformes', "Nightjars"),
('Apodiformes', "Swifts and Hummingbirds"),
('Coraciiformes', "Kingfishers"),
('Piciformes', "Woodpeckers"),
('Trogoniformes', "Trogons"),
('Coliiformes', "Mousebirds"),
('Passeriformes', "Passerines");

## The Table for Bird Families

In [60]:
DESCRIBE bird_families;

Field,Type,Null,Key,Default,Extra
family_id,int(11),NO,PRI,NULL,auto_increment
scientific_name,varchar(50),YES,UNI,NULL,
brief_description,varchar(255),YES,,NULL,
order_id,int(11),YES,,NULL,

In [61]:
SELECT order_id FROM bird_orders
WHERE scientific_name = 'Gaviiformes';

order_id
103

In [62]:
INSERT INTO bird_families
VALUES(100, 'Gaviidae',
"Loons or divers are aquatic birds found mainly in the Northern Hemisphere.",
103);

In [63]:
INSERT INTO bird_families
VALUES('Anatidae', "This family includes ducks, geese and swans.", NULL, 103);

Incorrect integer value: 'Anatidae' for column `rookery`.`bird_families`.`family_id` at row 1
(B(B

In [64]:
SELECT * FROM bird_families;

family_id,scientific_name,brief_description,order_id
100,Gaviidae,Loons or divers are aquatic birds found mainly in the Northern Hemisphere.,103

In [65]:
DELETE FROM bird_families
WHERE family_id = 101;

In [66]:
INSERT INTO bird_families
(scientific_name, order_id, brief_description)
VALUES('Anatidae', 103, "This family includes ducks, geese and swans.");

In [67]:
SELECT * FROM bird_families;

family_id,scientific_name,brief_description,order_id
100,Gaviidae,Loons or divers are aquatic birds found mainly in the Northern Hemisphere.,103
101,Anatidae,"This family includes ducks, geese and swans.",103

In [68]:
SELECT order_id, scientific_name FROM bird_orders;

order_id,scientific_name
100,Anseriformes
123,Apodiformes
122,Caprimulgiformes
110,Cathartiformes
102,Charadriiformes
109,Ciconiiformes
127,Coliiformes
115,Columbiformes
124,Coraciiformes
117,Cuculiformes
112,Falconiformes
101,Galliformes
103,Gaviiformes
113,Gruiformes
118,Opisthocomiformes
128,Passeriformes
107,Pelecaniformes
108,Phaethontiformes
111,Phoenicopteriformes
125,Piciformes
104,Podicipediformes
105,Procellariiformes
116,Psittaciformes
114,Pteroclidiformes
106,Sphenisciformes
119,Strigiformes
120,Struthioniformes
121,Tinamiformes
126,Trogoniformes

In [69]:
INSERT INTO bird_families
(scientific_name, order_id)
VALUES('Charadriidae', 109),
('Laridae', 102),
('Sternidae', 102),
('Caprimulgidae', 122),
('Sittidae', 128),
('Picidae', 125),
('Accipitridae', 112),
('Tyrannidae', 128),
('Formicariidae', 128),
('Laniidae', 128);

In [70]:
SELECT family_id, scientific_name
FROM bird_families
ORDER BY scientific_name;

family_id,scientific_name
108,Accipitridae
101,Anatidae
105,Caprimulgidae
102,Charadriidae
110,Formicariidae
100,Gaviidae
111,Laniidae
103,Laridae
107,Picidae
106,Sittidae
104,Sternidae
109,Tyrannidae

In [71]:
SHOW COLUMNS FROM birds;

Field,Type,Null,Key,Default,Extra
bird_id,int(11),NO,PRI,NULL,auto_increment
scientific_name,varchar(255),YES,UNI,NULL,
common_name,varchar(255),YES,,NULL,
famyly_id,int(11),YES,,NULL,
conservation_status_id,int(11),YES,,NULL,
wing_id,char(2),YES,,NULL,
body_id,char(2),YES,,NULL,
bill_id,char(2),YES,,NULL,
description,text,YES,,NULL,

In [72]:
SHOW COLUMNS FROM birds LIKE '%id';

Field,Type,Null,Key,Default,Extra
bird_id,int(11),NO,PRI,NULL,auto_increment
famyly_id,int(11),YES,,NULL,
conservation_status_id,int(11),YES,,NULL,
wing_id,char(2),YES,,NULL,
body_id,char(2),YES,,NULL,
bill_id,char(2),YES,,NULL,

## The Table for Birds

In [75]:
INSERT INTO birds
(common_name, scientific_name, famyly_id)
VALUES('Mountain Plover', 'Charadrius montanus', 103);

Field 'conservation_status_id' doesn't have a default value
(B(B

In [76]:
INSERT INTO birds
(common_name, scientific_name, famyly_id)
VALUES('Snowy Plover', 'Charadrius alexandrinus', 103),
('Black-bellied Plover', 'Pluvialis squatarola', 103),
('Pacific Golden Plover', 'Pluvialis fulva', 103);

Field 'conservation_status_id' doesn't have a default value
(B(B

In [79]:
SELECT common_name AS 'Bird',
birds.scientific_name AS 'Scientific Name',
bird_families.scientific_name AS 'Family',
bird_orders.scientific_name AS 'Order'
FROM birds,
bird_families,
bird_orders
WHERE birds.famyly_id = bird_families.family_id
AND bird_families.order_id = bird_orders.order_id;

## Other posibilities

In [2]:
use rookery;

In [3]:
INSERT INTO bird_families
SET scientific_name = 'Rallidae',
order_id = 113;

## Replacing data

In [7]:
REPLACE INTO bird_families
(scientific_name, brief_description, order_id)
VALUES('Viduidae', 'Indigobirds & Whydahs', 128),
('Estrildidae', 'Waxbills, Weaver Finches, & Allies', 128),
('Ploceidae', 'Weavers, Malimbe, & Bishops', 128);

In [10]:
SELECT * FROM bird_families
WHERE scientific_name = 'Viduidae';

family_id,scientific_name,brief_description,order_id
116,Viduidae,Indigobirds & Whydahs,128

## priorities when inserting data

In [12]:
INSERT LOW_PRIORITY INTO bird_sightings;

You have an error in your SQL syntax; check the manual that corresponds to your MariaDB server version for the right syntax to use near '' at line 1
(B(B

In [13]:
show tables;

Tables_in_rookery
bird_families
bird_orders
birds
birds_details
birds_new
conservation_status

# Chapter 7: Selecting Data

In [14]:
USE rookery;
SELECT * FROM birds;

bird_id,scientific_name,common_name,famyly_id,conservation_status_id,wing_id,body_id,bill_id,description
1,Charadrius vociferus,Killdeer,NULL,1,NULL,NULL,NULL,NULL
2,Gavia immer,Great Northern Loon,NULL,1,NULL,NULL,NULL,NULL
3,Aix sponsa,Wood Duck,NULL,7,NULL,NULL,NULL,NULL
4,Chordeiles minor,Common Nighthawk,NULL,7,NULL,NULL,NULL,NULL
5,Sitta carolinensis,White-breasted Nuthatch,NULL,7,NULL,NULL,NULL,NULL
6,Apteryx mantelli,North Island Brown Kiwi,NULL,7,NULL,NULL,NULL,NULL

In [15]:
SELECT bird_id, scientific_name, common_name
FROM birds;

bird_id,scientific_name,common_name
1,Charadrius vociferus,Killdeer
2,Gavia immer,Great Northern Loon
3,Aix sponsa,Wood Duck
4,Chordeiles minor,Common Nighthawk
5,Sitta carolinensis,White-breasted Nuthatch
6,Apteryx mantelli,North Island Brown Kiwi

## Selecting by a Criteria

In [17]:
SELECT common_name, scientific_name
FROM birds WHERE famyly_id = 103
LIMIT 3;

## Ordering Results

In [19]:
SELECT common_name, scientific_name
FROM birds WHERE famyly_id = 103
ORDER BY common_name
LIMIT 3;

In [20]:
SELECT * FROM bird_families
WHERE scientific_name
IN('Charadriidae','Haematopodidae','Recurvirostridae','Scolopacidae');

family_id,scientific_name,brief_description,order_id
102,Charadriidae,NULL,109

In [23]:
SELECT common_name, scientific_name, famyly_id
FROM birds
WHERE famyly_id IN(103, 160, 162, 164)
ORDER BY common_name
LIMIT 3;

In [24]:
SELECT common_name, scientific_name, famyly_id
FROM birds
WHERE famyly_id IN(103, 160, 162, 164)
AND common_name != ''
ORDER BY common_name
LIMIT 3;

## Limiting Results

In [25]:
SELECT common_name, scientific_name, famyly_id
FROM birds
WHERE famyly_id IN(103, 160, 162, 164)
AND common_name != ''
ORDER BY common_name
LIMIT 3, 2;

## Combining Tables

In [30]:
SELECT common_name AS 'Bird',
bird_families.scientific_name AS 'Family'
FROM birds, bird_families
WHERE birds.famyly_id = bird_families.family_id
AND order_id = 102
AND common_name != ''
ORDER BY common_name LIMIT 10;

In [33]:
SELECT common_name AS 'Bird',
families.scientific_name AS 'Family'
FROM birds, bird_families AS families
WHERE birds.famyly_id = families.family_id
AND order_id = 102
AND common_name != ''
ORDER BY common_name LIMIT 10;

In [35]:
SELECT common_name AS 'Bird',
families.scientific_name AS 'Family',
orders.scientific_name AS 'Order'
FROM birds, bird_families AS families, bird_orders AS orders
WHERE birds.famyly_id = families.family_id
AND families.order_id = orders.order_id
AND families.order_id = 102
AND common_name != ''
ORDER BY common_name LIMIT 10, 5;

## Expressions and the Like

In [39]:
SELECT common_name AS 'Bird',
families.scientific_name AS 'Family',
orders.scientific_name AS 'Order'
FROM birds, bird_families AS families, bird_orders AS orders
WHERE birds.famyly_id = families.family_id
AND families.order_id = orders.order_id
AND common_name LIKE 'Least%'
ORDER BY orders.scientific_name, families.scientific_name, common_name
LIMIT 10;

In [41]:
SELECT common_name AS 'Birds Great and Small'
FROM birds
WHERE common_name REGEXP 'Great|Least'
ORDER BY famyly_id LIMIT 10;

Birds Great and Small
Great Northern Loon

In [43]:
SELECT common_name AS 'Birds Great and Small'
FROM birds
WHERE common_name REGEXP 'Great|Least'
AND common_name NOT REGEXP 'Greater'
ORDER BY famyly_id LIMIT 10;

Birds Great and Small
Great Northern Loon

In [44]:
SELECT common_name AS 'Hawks'
FROM birds
WHERE common_name REGEXP BINARY 'Hawk'
AND common_name NOT REGEXP 'Hawk-Owl'
ORDER BY famyly_id LIMIT 10;

In [45]:
SHOW FULL COLUMNS
FROM birds LIKE 'common_name';

Field,Type,Collation,Null,Key,Default,Extra,Privileges,Comment
common_name,varchar(255),latin1_bin,YES,,NULL,,"select,insert,update,references",

In [47]:
SELECT common_name AS 'Hawks'
FROM birds
WHERE common_name REGEXP '[[:space:]]Hawk|[[.hyphen.]]Hawk'
AND common_name NOT REGEXP 'Hawk-Owl|Hawk Owl'
ORDER BY famyly_id;

Got error 'POSIX collating elements are not supported at offset 17' from regexp
(B(B

## Counting and Grouping Results

In [48]:
SELECT COUNT(*) FROM birds;

COUNT(*)
6

In [51]:
SELECT families.scientific_name AS 'Family',
COUNT(*) AS 'Number of Birds'
FROM birds, bird_families AS families
WHERE birds.famyly_id = families.family_id
AND families.scientific_name = 'Pelecanidae';

Family,Number of Birds
NULL,0

In [53]:
SELECT orders.scientific_name AS 'Order',
families.scientific_name AS 'Family',
COUNT(*) AS 'Number of Birds'
FROM birds, bird_families AS families, bird_orders AS orders
WHERE birds.famyly_id = families.family_id
AND families.order_id = orders.order_id
AND orders.scientific_name = 'Pelecaniformes';

Order,Family,Number of Birds
Pelecaniformes,NULL,0

In [55]:
SELECT orders.scientific_name AS 'Order',
families.scientific_name AS 'Family',
COUNT(*) AS 'Number of Birds'
FROM birds, bird_families AS families, bird_orders AS orders
WHERE birds.famyly_id = families.family_id
AND families.order_id = orders.order_id
AND orders.scientific_name = 'Pelecaniformes'
GROUP BY Family;

# Chapter 8. Updating and Deleting Data

## Updating Data

In [56]:
UPDATE birdwatchers.humans
SET country_id = 'us';

Unknown column 'country_id' in 'field list'
(B(B

In [61]:
use birdwatchers;

In [62]:
show tables;

Tables_in_birdwatchers
humans
survey_answers
survey_questions
surveys

In [63]:
select * from humans;

human_id,formal_title,name_first,name_last,email_adress
1,Mr.,Russell,Dyer,russell@mysqlresources.com
2,Mr.,Richard,Stringer,richard@mysqlresources.com
3,Ms.,Rusty,Osborne,rusty@mysqlresources.com
4,Ms.,Lexi,Hollar,alexandra@mysqlresources.com

## Updating Specific Rows

In [64]:
SELECT human_id, name_first, name_last
FROM humans
WHERE name_first = 'Rusty'
AND name_last = 'Osborne';

human_id,name_first,name_last
3,Rusty,Osborne

In [65]:
UPDATE humans
SET name_last = 'Johnson'
WHERE human_id = 3;
SELECT human_id, name_first, name_last
FROM humans
WHERE human_id = 3;

human_id,name_first,name_last
3,Rusty,Johnson

In [66]:
UPDATE humans
SET formal_title = 'Ms.'
WHERE human_id IN(24, 32);

In [67]:
SHOW FULL COLUMNS
FROM humans
LIKE 'formal_title' ;

Field,Type,Collation,Null,Key,Default,Extra,Privileges,Comment
formal_title,varchar(25),utf8mb4_general_ci,YES,,NULL,,"select,insert,update,references",

In [68]:
UPDATE humans
SET formal_title = 'Ms.'
WHERE formal_title IN('Miss','Mrs.');

In [69]:
ALTER TABLE humans
CHANGE COLUMN formal_title formal_title ENUM('Mr.','Ms.');

In [70]:
SHOW WARNINGS;

In [71]:
ALTER TABLE humans
CHANGE COLUMN formal_title formal_title ENUM('Mr.','Ms.','Mr','Ms');
UPDATE humans
SET formal_title = SUBSTRING(formal_title, 1, 2);
ALTER TABLE humans
CHANGE COLUMN formal_title formal_title ENUM('Mr','Ms');

## Limiting Updates

In [72]:
CREATE TABLE prize_winners
(winner_id INT AUTO_INCREMENT PRIMARY KEY,
human_id INT,
winner_date DATE,
prize_chosen VARCHAR(255),
prize_sent DATE);

In [73]:
INSERT INTO prize_winners
(human_id)
SELECT human_id
FROM humans;

## Ordering to Make a Difference

In [74]:
UPDATE prize_winners
SET winner_date = CURDATE()
WHERE winner_date IS NULL
ORDER BY RAND()
LIMIT 2;

In [75]:
SHOW WARNINGS ;

## Updating Multiple Tables;

In [78]:
UPDATE prize_winners, humans
SET winner_date = NULL,
prize_chosen = NULL,
prize_sent = NULL
WHERE country_id = 'uk'
AND prize_winners.human_id = humans.human_id;

Unknown column 'country_id' in 'where clause'
(B(B

In [ ]:
UPDATE prize_winners, humans
SET winner_date = CURDATE()
WHERE winner_date IS NULL
AND country_id = 'uk'
AND prize_winners.human_id = humans.human_id
ORDER BY RAND()
LIMIT 2;

In [ ]:
UPDATE prize_winners
SET winner_date = CURDATE()
WHERE winner_date IS NULL
AND human_id IN
(SELECT human_id
FROM humans
WHERE country_id = 'uk'
ORDER BY RAND())
LIMIT 2;

## Handling Duplicates

In [79]:
ALTER TABLE humans
ADD COLUMN better_birders_site TINYINT DEFAULT 0;

In [81]:
INSERT INTO humans
(formal_title, name_first, name_last, email_adress, better_birders_site)
VALUES('Mr','Barry','Pilson', 'barry@gomail.com', 1),
('Ms','Lexi','Hollar', 'alexandra@mysqlresources.com', 1),
('Mr','Ricky','Adams', 'ricky@gomail.com', 1)
ON DUPLICATE KEY
UPDATE better_birders_site = 2;

In [82]:
INSERT INTO prize_winners
(human_id)
SELECT human_id
FROM humans
WHERE better_birders_site = 1;

In [83]:
ALTER TABLE humans
ADD COLUMN possible_duplicate TINYINT DEFAULT 0;
CREATE TEMPORARY TABLE possible_duplicates
(name_1 varchar(25), name_2 varchar(25));

In [84]:
INSERT INTO possible_duplicates
SELECT name_first, name_last
FROM
(SELECT name_first, name_last, COUNT(*) AS nbr_entries
FROM humans
GROUP BY name_first, name_last) AS derived_table
WHERE nbr_entries > 1;

In [86]:
UPDATE humans, possible_duplicates
SET possible_duplicate = 1
WHERE name_first = name_1
AND name_last = name_2;

## Deleting Data

In [87]:
DELETE FROM humans
WHERE name_first = 'Elena'
AND name_last = 'Bokova'
AND email_adress LIKE '%yahoo.com';

## Deleting in Multiple Tables

In [89]:
DELETE FROM humans, prize_winners
USING humans JOIN prize_winners
WHERE name_first = 'Elena'
AND name_last = 'Bokova'
AND email_adress LIKE '%yahoo.com'
AND humans.human_id = prize_winners.human_id;

# Chapter 9. Joining and Subquerying Data

## Unifying Results;

In [94]:
use rookery;

In [97]:
SELECT 'Pelecanidae' AS 'Family',
COUNT(*) AS 'Species'
FROM birds, bird_families AS families
WHERE birds.famyly_id = families.family_id
AND families.scientific_name = 'Pelecanidae'
UNION
SELECT 'Ardeidae',
COUNT(*)
FROM birds, bird_families AS families
WHERE birds.famyly_id = families.family_id
AND families.scientific_name = 'Ardeidae';

Family,Species
Pelecanidae,0
Ardeidae,0

In [93]:
show tables;

Tables_in_birdwatchers
humans
prize_winners
survey_answers
survey_questions
surveys

In [102]:
SELECT families.scientific_name AS 'Family',
COUNT(*) AS 'Species'
FROM birds, bird_families AS families, bird_orders AS orders
WHERE birds.famyly_id = families.family_id
AND families.order_id = orders.order_id
AND orders.scientific_name = 'Pelecaniformes'
GROUP BY families.family_id
UNION
SELECT families.scientific_name, COUNT(*)
FROM birds, bird_families AS families, bird_orders AS orders
WHERE birds.famyly_id = families.family_id
AND families.order_id = orders.order_id
AND orders.scientific_name = 'Suliformes'
GROUP BY families.family_id;

In [104]:
SELECT * FROM
(
SELECT families.scientific_name AS 'Family',
COUNT(*) AS 'Species',
orders.scientific_name AS 'Order'
FROM birds, bird_families AS families, bird_orders AS orders
WHERE birds.famyly_id = families.family_id
AND families.order_id = orders.order_id
AND orders.scientific_name = 'Pelecaniformes'
GROUP BY families.family_id
UNION
SELECT families.scientific_name, COUNT(*), orders.scientific_name
FROM birds, bird_families AS families, bird_orders AS orders
WHERE birds.famyly_id = families.family_id
AND families.order_id = orders.order_id
AND orders.scientific_name = 'Suliformes'
GROUP BY families.family_id ) AS derived_1
ORDER BY Family;

## Joining Tables

In [123]:
use test
show tables;

Tables_in_test
books
status_names

In [125]:
select * from status_names;

status_id,status_name
0,Inactive
1,Active

In [106]:
SELECT book_id, title, status_name
FROM books JOIN status_names
WHERE status = status_id;

book_id,title,status_name
100,Heart of Darkness,Inactive
101,The of the Rye,Inactive
102,My Antonia,Active

In [107]:
SELECT book_id, title, status_name
FROM books
JOIN status_names ON(status = status_id);

book_id,title,status_name
100,Heart of Darkness,Inactive
101,The of the Rye,Inactive
102,My Antonia,Active

In [126]:
SELECT book_id, title, status_name
FROM books
JOIN status_names USING(status_id);

Unknown column 'status_id' in 'from clause'
(B(B

## Selecting a Basic Join

In [128]:
use rookery;

In [110]:
SELECT common_name, conservation_state
FROM birds
JOIN conservation_status
ON(birds.conservation_status_id = conservation_status.conservation_status_id)
WHERE conservation_category = 'Threatened'
AND common_name LIKE '%Goose%';

In [111]:
SELECT common_name, conservation_state
FROM birds
JOIN conservation_status
USING(conservation_status_id)
WHERE conservation_category = 'Threatened'
AND common_name LIKE '%Goose%';

In [136]:
SELECT common_name AS 'Bird',
bird_families.scientific_name AS 'Family', conservation_state AS 'Status'
FROM birds
JOIN conservation_status USING(conservation_status_id)
JOIN bird_families USING(scientific_name)
WHERE conservation_category = 'Threatened'
AND common_name REGEXP 'Goose|Duck'
ORDER BY Status, Bird;

In [138]:
SELECT common_name AS 'Bird',
bird_families.scientific_name AS 'Family', conservation_state AS 'Status'
FROM birds, conservation_status, bird_families
WHERE birds.conservation_status_id = conservation_status.conservation_status_id
AND birds.famyly_id = bird_families.family_id
AND conservation_category = 'Threatened'
AND common_name REGEXP 'Goose|Duck'
ORDER BY Status, Bird;

In [140]:
SELECT common_name AS 'Bird from Anatidae',
conservation_state AS 'Conservation Status'
FROM birds
JOIN conservation_status AS states USING(conservation_status_id)
JOIN bird_families USING(scientific_name)
WHERE conservation_category = 'Threatened'
AND bird_families.scientific_name = 'Anatidae'
ORDER BY states.conservation_status_id DESC, common_name ASC;

In [141]:
SELECT CONCAT(name_first, ' ', name_last) AS Birder,
common_name AS Bird, location_gps AS 'Location of Sighting'
FROM birdwatchers.humans
JOIN birdwatchers.bird_sightings USING(human_id)
JOIN rookery.birds USING(bird_id)
JOIN rookery.bird_families USING(family_id)
WHERE country_id = 'ru'
AND bird_families.scientific_name = 'Scolopacidae'
ORDER BY Birder;

Table 'birdwatchers.bird_sightings' doesn't exist
(B(B

In [142]:
SELECT common_name AS 'Bird',
conservation_state AS 'Status'
FROM birds
LEFT JOIN conservation_status USING(conservation_status_id)
WHERE common_name LIKE '%Egret%'
ORDER BY Status, Bird;

## Updating Joined Tables

In [144]:
SELECT common_name,
conservation_state
FROM birds
LEFT JOIN conservation_status USING(conservation_status_id)
JOIN bird_families USING(scientific_name)
WHERE bird_families.scientific_name = 'Ardeidae';

In [145]:
INSERT INTO conservation_status (conservation_state)
VALUES('Unknown');
SELECT LAST_INSERT_ID();

LAST_INSERT_ID()
9

In [147]:
UPDATE birds
LEFT JOIN conservation_status USING(conservation_status_id)
JOIN bird_families USING(scientific_name)
SET birds.conservation_status_id = 9
WHERE bird_families.scientific_name = 'Ardeidae'
AND conservation_status.conservation_status_id IS NULL;

## Deleting Within Joined Tables

In [150]:
use birdwatchers;

In [152]:
DELETE FROM humans, prize_winners
USING humans JOIN prize_winners
WHERE name_first = 'Elena'
AND name_last = 'Bokova'
AND email_adress LIKE '%yahoo.com'
AND humans.human_id = prize_winners.human_id;

In [154]:
DELETE FROM humans, prize_winners
USING humans LEFT JOIN prize_winners
ON humans.human_id = prize_winners.human_id
WHERE name_first = 'Elena'
AND name_last = 'Bokova'
AND email_adress LIKE '%yahoo.com';

In [155]:
DELETE FROM prize_winners
USING humans RIGHT JOIN prize_winners
ON humans.human_id = prize_winners.human_id
WHERE humans.human_id IS NULL;

## Subqueries

### Scalar Subqueries

In [163]:
use rookery;

In [158]:
SELECT scientific_name AS Family
FROM bird_families
WHERE order_id =
(SELECT order_id
FROM bird_orders
WHERE scientific_name = 'Galliformes');

In [160]:
use birdwatchers;

In [161]:
UPDATE humans
SET membership_type = 'premium',
membership_expiration = DATE_ADD(IFNULL(membership_expiration,
CURDATE()), INTERVAL 1 YEAR)
WHERE human_id =
(SELECT human_id
FROM
(SELECT human_id, COUNT(*) AS sightings, join_date
FROM birdwatchers.bird_sightings
JOIN birdwatchers.humans USING(human_id)
JOIN rookery.birds USING(bird_id)
JOIN rookery.bird_families USING(family_id)
WHERE country_id = 'ru'
AND bird_families.scientific_name = 'Scolopacidae'
GROUP BY human_id) AS derived_1
WHERE sightings > 5
ORDER BY join_date ASC
LIMIT 1);

Table 'birdwatchers.bird_sightings' doesn't exist
(B(B

### Column Subqueries

In [165]:
SELECT * FROM
(SELECT common_name AS 'Bird',
families.scientific_name AS 'Family'
FROM birds
JOIN bird_families AS families USING(scientific_name)
JOIN bird_orders AS orders USING(order_id)
WHERE common_name != ''
AND families.scientific_name IN(SELECT DISTINCT families.scientific_name AS 'Family'
FROM bird_families AS families
JOIN bird_orders AS orders USING(order_id)
WHERE orders.scientific_name = 'Galliformes'
ORDER BY Family)
ORDER BY RAND()) AS derived_1
GROUP BY (Family);

## Row Subqueries

In [ ]:
INSERT INTO bird_sightings
(bird_id, human_id, time_seen, location_gps)
VALUES
(SELECT birds.bird_id, humans.human_id,
date_spotted, gps_coordinates
FROM
(SELECT personal_name, family_name, science_name, date_spotted,
CONCAT(latitude, '; ', longitude) AS gps_coordinates
FROM eastern_birders
JOIN eastern_birders_spottings USING(birder_id)
WHERE
(personal_name, family_name,
science_name, CONCAT(latitude, '; ', longitude) )
NOT IN
(SELECT name_first, name_last, scientific_name, location_gps
FROM humans
JOIN bird_sightings USING(human_id)
JOIN rookery.birds USING(bird_id) ) ) AS derived_1
JOIN humans
ON(personal_name = name_first
AND family_name = name_last)
JOIN rookery.birds
ON(scientific_name = science_name) );

### Table Subqueries

In [167]:
SELECT family AS 'Bird Family',
COUNT(*) AS 'Number of Birds'
FROM
(SELECT families.scientific_name AS family
FROM birds
JOIN bird_families AS families USING(scientific_name)
WHERE families.scientific_name IN('Pelecanidae','Ardeidae')) AS derived_1
GROUP BY family;

# Part IV. Built-In Functions

# Chapter 10. String Functions

## Formatting Strings

### Concatenating Strings

In [31]:
use rookery;

In [20]:
use birdwatchers;

In [3]:
SELECT CONCAT(formal_title, '. ', name_first, SPACE(1), name_last) AS Birder,
CONCAT(common_name, ' - ', birds.scientific_name) AS Bird,
time_seen AS 'When Spotted'
FROM birdwatchers.bird_sightings
JOIN birdwatchers.humans USING(human_id)
JOIN rookery.birds USING(bird_id)
GROUP BY human_id DESC
LIMIT 4;

Table 'birdwatchers.bird_sightings' doesn't exist
(B(B

### Setting Case and Quotes

In [11]:
SELECT LCASE(common_name) AS Species,
UCASE(bird_families.scientific_name) AS Family
FROM birds
JOIN bird_families USING(scientific_name)
WHERE common_name LIKE '%Wren%'
ORDER BY Species
LIMIT 5;

In [12]:
SELECT QUOTE(common_name)
FROM birds
WHERE common_name LIKE "%Prince%"
ORDER BY common_name;

### Trimming and Padding Strings

In [13]:
use birdwatchers;

In [14]:
UPDATE humans
SET name_first = LTRIM(name_first),
name_last = LTRIM(name_last);

UPDATE humans
SET name_first = RTRIM(name_first),
name_last = RTRIM(name_last);

In [15]:
UPDATE humans
SET name_first = LTRIM( RTRIM(name_last) ),
name_last = LTRIM( RTRIM(name_last) );

In [16]:
UPDATE humans
SET name_first = TRIM(name_first),
name_last = TRIM(name_last);

In [18]:
JOIN rookery.birds
ON(scientific_name = TRIM(BOTH '"' FROM science_name) );

You have an error in your SQL syntax; check the manual that corresponds to your MariaDB server version for the right syntax to use near 'JOIN rookery.birds
ON(scientific_name = TRIM(BOTH '"' FROM science_name) )' at line 1
(B(B

In [23]:
SELECT CONCAT(RPAD(common_name, 20, '.' ),
RPAD(Families.scientific_name, 15, '.'),
Orders.scientific_name) AS Birds
FROM birds
JOIN bird_families AS Families USING(scientific_name)
JOIN bird_orders AS Orders
WHERE common_name != ''
AND Orders.scientific_name = 'Ciconiiformes'
ORDER BY common_name LIMIT 3;

## Extracting Text

In [24]:
SELECT prospect_name

FROM prospects LIMIT 4;

Table 'rookery.prospects' doesn't exist
(B(B

In [26]:
SELECT LEFT(prospect_name, 2) AS title,
MID(prospect_name, 5, 25) AS first_name,
RIGHT(prospect_name, 25) AS last_name
FROM prospects LIMIT 4;

Table 'rookery.prospects' doesn't exist
(B(B

In [30]:
SELECT SUBSTRING(prospect_name, 1, 2) AS title,
SUBSTRING(prospect_name FROM 5 FOR 25) AS first_name,
SUBSTRING(prospect_name, -25) AS last_name
FROM prospects LIMIT 3;

Table 'mysql.prospects' doesn't exist
(B(B

## Searching Strings and Using Lengths

### Locating Text Within a String

In [32]:
SELECT common_name AS 'Avocet'
FROM birds
JOIN bird_families USING(scientific_name)
WHERE bird_families.scientific_name = 'Recurvirostridae'
AND birds.common_name LIKE '%Avocet%';

In [33]:
SELECT
SUBSTRING(common_name, 1, LOCATE(' Avocet', common_name) ) AS 'Avocet'
FROM birds
JOIN bird_families USING(scientific_name)
WHERE bird_families.scientific_name = 'Recurvirostridae'
AND birds.common_name LIKE '%Avocet%';

In [36]:
use birdwatchers;

In [37]:
SELECT human_id,
CONCAT(name_first, SPACE(1), name_last) AS Name,
join_date
FROM humans
WHERE country_id = 'ru'
ORDER BY join_date;

Unknown column 'join_date' in 'field list'
(B(B

In [38]:
SELECT FIND_IN_SET('Anahit Vanetsyan', Names) AS Position
FROM
(SELECT GROUP_CONCAT(Name ORDER BY join_date) AS Names
FROM
( SELECT CONCAT(name_first, SPACE(1), name_last) AS Name,
join_date
FROM humans
WHERE country_id = 'ru')
AS derived_1 )
AS derived_2;

Unknown column 'join_date' in 'field list'
(B(B

### String Lengths

In [ ]:
SELECT IF(CHAR_LENGTH(comments) > 100), 'long', 'short')
FROM bird_sightings
WHERE sighting_id = 2;

In [ ]:
SELECT sighting_id
FROM bird_sightings
WHERE CHARACTER_LENGTH(comments) != LENGTH(comments);

### Comparing and Searching Strings

In [58]:
use birdwatchers;

In [46]:
use rookery;

In [40]:
CREATE TABLE possible_duplicate_email
(human_id INT,
email_address1 VARCHAR(255),
email_address2 VARCHAR(255),
entry_date datetime );

In [41]:
INSERT IGNORE INTO possible_duplicate_email
(human_id, email_address_1, email_address_2, entry_date)
VALUES(LAST_INSERT_ID(), 'bobyfischer@mymail.com', 'bobbyfischer@mymail.com')
WHERE ABS( STRCMP('bobbyrobin@mymail.com', 'bobyrobin@mymail.com') ) = 1 ;

You have an error in your SQL syntax; check the manual that corresponds to your MariaDB server version for the right syntax to use near 'WHERE ABS( STRCMP('bobbyrobin@mymail.com', 'bobyrobin@mymail.com') ) = 1' at line 4
(B(B

In [42]:
CREATE FULLTEXT INDEX comment_index
ON bird_sightings (comments);

Table 'birdwatchers.bird_sightings' doesn't exist
(B(B

In [43]:
SELECT CONCAT(name_first, SPACE(1), name_last) AS Name,
common_name AS Bird,
SUBSTRING(comments, 1, 25) AS Comments
FROM birdwatchers.bird_sightings
JOIN birdwatchers.humans USING(human_id)
JOIN rookery.birds USING(bird_id)
WHERE MATCH (comments) AGAINST ('beautiful');

Table 'birdwatchers.bird_sightings' doesn't exist
(B(B

### Replacing and Inserting into Strings

In [47]:
SELECT INSERT(common_name, 6, 0, ' (i.e., Smallest)')
AS 'Smallest Birds'
FROM birds
WHERE common_name LIKE 'Least %' LIMIT 1;

In [48]:
SELECT common_name AS Original,
INSERT(common_name, LOCATE('Gt.', common_name), 3, 'Great') AS Adjusted
FROM birds
WHERE common_name REGEXP 'Gt.' LIMIT 1;

In [49]:
UPDATE birds
SET common_name = INSERT(common_name, LOCATE('Gt.', common_name), 3, 'Great')
WHERE common_name REGEXP 'Gt.';

In [50]:
SELECT common_name AS Original,
REPLACE(common_name, 'Gt.', 'Great') AS Replaced
FROM birds
WHERE common_name REGEXP 'Gt.' LIMIT 1;

In [51]:
UPDATE birds
SET common_name = REPLACE(common_name, 'Gt.', 'Great');

## Converting String Types

In [52]:
SELECT sorting_id, bird_name, bird_image
FROM bird_images
ORDER BY sorting_id
LIMIT 5;

Table 'rookery.bird_images' doesn't exist
(B(B

In [53]:
SELECT sorting_id, bird_name, bird_image
FROM bird_images ORDER BY CAST(sorting_id AS INT) LIMIT 5;

Table 'rookery.bird_images' doesn't exist
(B(B

In [54]:
SELECT bird_name, gender_age, bird_image
FROM bird_images
WHERE bird_name LIKE '%Plover%'
ORDER BY gender_age
LIMIT 5;

Table 'rookery.bird_images' doesn't exist
(B(B

In [55]:
SELECT bird_name, gender_age, bird_image
FROM bird_images
WHERE bird_name LIKE '%Plover%'
ORDER BY CONVERT(gender_age, CHAR)
LIMIT 5;

Table 'rookery.bird_images' doesn't exist
(B(B

In [56]:
SELECT bird_name, gender_age, bird_image
FROM bird_images
WHERE bird_name LIKE '%Plover%'
ORDER BY CONVERT(gender_age USING utf8)
LIMIT 5;

Table 'rookery.bird_images' doesn't exist
(B(B

## Compressing Strings

In [59]:
INSERT INTO humans
(formal_title, name_first, name_last, join_date, birding_background)
VALUES('Ms', 'Melissa', 'Lee', CURDATE(), COMPRESS("lengthy background"));

Unknown column 'join_date' in 'field list'
(B(B

In [60]:
SELECT birding_background AS Background
FROM humans
WHERE name_first = 'Melissa' AND name_last = 'Lee';

Unknown column 'birding_background' in 'field list'
(B(B

In [61]:
SELECT UNCOMPRESS(birding_background) AS Background
FROM humans
WHERE name_first = 'Melissa' AND name_last = 'Lee';

Unknown column 'birding_background' in 'field list'
(B(B

# Chapter 15. Bulk Importing Data

## Preparing to Import

In [3]:
CREATE TABLE rookery.clements_list_import
(id INT, change_type VARCHAR(255),
col2 CHAR(0), col3 CHAR(0),
scientific_name VARCHAR(255),
english_name VARCHAR(255),
col6 CHAR(0), `order` VARCHAR(255),
family VARCHAR(255),
col9 CHAR(0), col10 CHAR(0),
col11 CHAR(0), col12 CHAR(0),
col13 CHAR(0), col14 CHAR(0),
col15 CHAR(0), col16 CHAR(0), col17 CHAR(0));

## Loading Data Basics

In [4]:
SELECT * FROM rookery.clements_list_import LIMIT 2;

### Checking the Accuracy of the Import

In [5]:
SELECT id, change_type,
scientific_name, english_name,
`order`, family
FROM rookery.clements_list_import
WHERE change_type = 'new species' LIMIT 2;

In [6]:
SELECT id, change_type,
scientific_name, english_name,
`order`, family
FROM rookery.clements_list_import
WHERE change_type = 'new species' LIMIT 2;

In [8]:
### Selecting Imported Data;

In [10]:
CREATE TABLE rookery.birds_news
LIKE rookery.birds;

In [11]:
use rookery;

In [23]:
INSERT INTO birds_new
(scientific_name, common_name, famyly_id)
SELECT clements.scientific_name, english_name, bird_families.family_id
FROM clements_list_import AS clements
JOIN bird_families
ON bird_families.scientific_name =
SUBSTRING(family, 1, LOCATE(' (', family) )
WHERE change_type = 'new species';

In [21]:
SELECT birds_new.scientific_name,
common_name, family_id,
bird_families.scientific_name AS family
FROM birds_new
JOIN bird_families USING(scientific_name);

## Better Loading

### Mapping Fields

In [26]:
DROP TABLE rookery.clements_list_import;
CREATE TABLE rookery.clements_list_import
(id INT, scientific_name VARCHAR(255),
english_name VARCHAR(255), family VARCHAR(255),
bird_order VARCHAR(255), change_type VARCHAR(255));

In [27]:
LOAD DATA INFILE '/tmp/Clements-Checklist-6.9-final.csv'
INTO TABLE rookery.clements_list_import
FIELDS TERMINATED BY ',' OPTIONALLY ENCLOSED BY '"'
IGNORE 1 LINES
(id, change_type, @niente, @niente,
scientific_name, english_name,
@niente, bird_order, family, @niente,
@niente, @niente, @niente, @niente,
@niente, @niente, @niente, @niente);

Can't get stat of '/tmp/Clements-Checklist-6.9-final.csv' (Errcode: 2 "No such file or directory")
(B(B

In [28]:
SELECT * FROM rookery.clements_list_import
WHERE change_type='new species'
ORDER BY id DESC LIMIT 2;

## Setting Columns

In [29]:
DELETE FROM rookery.clements_list_import;
LOAD DATA INFILE '/tmp/Clements-Checklist-6.9-final.csv'
INTO TABLE rookery.clements_list_import
FIELDS TERMINATED BY ',' OPTIONALLY ENCLOSED BY '"'
IGNORE 1 LINES
(id, change_type, @niente, @niente,
scientific_name, english_name,
@niente, bird_order, @family, @niente,
@niente, @niente, @niente, @niente,
@niente, @niente, @niente, @niente, @niente)
SET family = SUBSTRING(@family, 1, LOCATE(' (', @family) );

Can't get stat of '/tmp/Clements-Checklist-6.9-final.csv' (Errcode: 2 "No such file or directory")
(B(B

In [30]:
SELECT * FROM rookery.clements_list_import
WHERE change_type='new species'
AND english_name LIKE '%Treehunter%' ;

## More Field and Line Definitions

### Starting, Terminating, and Escaping

In [31]:
CREATE TABLE birdwatchers.birdwatcher_prospects_import
(prospect_id INT AUTO_INCREMENT KEY,
prospect_name VARCHAR(255),
prospect_email VARCHAR(255) UNIQUE,
prospect_country VARCHAR(255));

In [32]:
LOAD DATA INFILE '/tmp/birdwatcher-prospects.csv'
INTO TABLE birdwatchers.birdwatcher_prospects_import
FIELDS TERMINATED BY '|' ENCLOSED BY '"' ESCAPED BY '\\'
LINES STARTING BY '[' TERMINATED BY ']\r\n'
IGNORE 1 LINES
(prospect_name, prospect_email, prospect_country);

Can't get stat of '/tmp/birdwatcher-prospects.csv' (Errcode: 2 "No such file or directory")
(B(B

### Replacing Data Versus Ignoring Errors

In [33]:
LOAD DATA INFILE '/tmp/birdwatcher-prospects.csv'
IGNORE INTO TABLE birdwatchers.birdwatcher_prospects_import
FIELDS TERMINATED BY '|' ENCLOSED BY '"' ESCAPED BY '\\'
LINES STARTING BY '[' TERMINATED BY ']\r\n'
IGNORE 1 LINES
(prospect_name, prospect_email, prospect_country);

Can't get stat of '/tmp/birdwatcher-prospects.csv' (Errcode: 2 "No such file or directory")
(B(B

In [34]:
SELECT * FROM birdwatchers.birdwatcher_prospects_import
WHERE prospect_name LIKE '%Sveta%' ;

In [35]:
LOAD DATA INFILE '/tmp/birdwatcher-prospects.csv'
REPLACE INTO TABLE birdwatchers.birdwatcher_prospects_import
FIELDS TERMINATED BY '|' ENCLOSED BY '"' ESCAPED BY '\\'
LINES STARTING BY '[' TERMINATED BY ']\n'
IGNORE 1 LINES
(prospect_name, prospect_email, prospect_country);

Can't get stat of '/tmp/birdwatcher-prospects.csv' (Errcode: 2 "No such file or directory")
(B(B

In [36]:
SELECT * FROM birdwatchers.birdwatcher_prospects_import
WHERE prospect_name LIKE '%Sveta%' ;

## Importing from Outside MySQL

### Importing Local Files

In [37]:
LOAD DATA LOCAL INFILE '/tmp/birdwatcher-prospects.csv'
REPLACE INTO TABLE birdwatchers.birdwatcher_prospects_import
FIELDS TERMINATED BY '|' ENCLOSED BY '"' ESCAPED BY '\\'
LINES STARTING BY '[' TERMINATED BY ']\n'
IGNORE 1 LINES
(prospect_name, prospect_email, prospect_country);

## Using mysqlimport

## Bulk Exporting Data

In [39]:
SELECT birds.scientific_name,
IFNULL(common_name, ''),
bird_families.scientific_name
FROM rookery.birds
JOIN rookery.bird_families USING(scientific_name)
JOIN rookery.bird_orders USING(order_id)
WHERE bird_orders.scientific_name = 'Charadriiformes'
ORDER BY common_name;

In [40]:
SELECT 'scientific name','common name','family name';

scientific name,common name,family name
scientific name,common name,family name

In [41]:
( SELECT 'scientific name','common name','family name' )
UNION
( SELECT birds.scientific_name,
IFNULL(common_name, ''),
bird_families.scientific_name
FROM rookery.birdsJOIN rookery.bird_families USING(family_id)
JOIN rookery.bird_orders USING(order_id)
WHERE bird_orders.scientific_name = 'Charadriiformes'
ORDER BY common_name
INTO OUTFILE '/tmp/birds-list.csv'
FIELDS ENCLOSED BY '"' TERMINATED BY '|' ESCAPED BY '\\'
LINES TERMINATED BY '\n');

You have an error in your SQL syntax; check the manual that corresponds to your MariaDB server version for the right syntax to use near '.bird_families USING(family_id)
JOIN rookery.bird_orders USING(order_id)
WHER...' at line 6
(B(B

# Chapter 16. Application Programming Interfaces

## Creating API User Accounts

In [44]:
CREATE USER 'edmaya12'@'localhost'
IDENTIFIED BY '1234';
GRANT SELECT
ON rookery.*
TO 'public_api'@'localhost';
GRANT SELECT
ON birdwatchers.*
TO 'public_api'@'localhost';

Operation CREATE USER failed for 'edmaya12'@'localhost'
ERROR 1044 (42000) at line 3 in file: '/home/jhon/Notebooks de linux/.mariadb_statement': Access denied for user 'edmaya12'@'localhost' to database 'rookery'
ERROR 1044 (42000) at line 6 in file: '/home/jhon/Notebooks de linux/.mariadb_statement': Access denied for user 'edmaya12'@'localhost' to database 'birdwatchers'
(B(B(B(B(B(B

In [43]:
CREATE USER 'admin_members'@'localhost'
IDENTIFIED BY 'doc_killdeer_123';
GRANT SELECT, UPDATE, DELETE
ON birdwatchers.*
TO 'admin_members'@'localhost';

Access denied for user 'edmaya12'@'localhost' to database 'birdwatchers'
(B(B

In [45]:
#include <stdio.h>
#include "/usr/include/mysql/mysql.h"
int main(int argc, char *argv[ ])
{
MYSQL *mysql;
MYSQL_RES *result;
MYSQL_ROW row;

You have an error in your SQL syntax; check the manual that corresponds to your MariaDB server version for the right syntax to use near 'int main(int argc, char *argv[ ])
{
MYSQL *mysql' at line 1
ERROR 1064 (42000) at line 6 in file: '/home/jhon/Notebooks de linux/.mariadb_statement': You have an error in your SQL syntax; check the manual that corresponds to your MariaDB server version for the right syntax to use near 'MYSQL_RES *result' at line 1
ERROR 1064 (42000) at line 7 in file: '/home/jhon/Notebooks de linux/.mariadb_statement': You have an error in your SQL syntax; check the manual that corresponds to your MariaDB server version for the right syntax to use near 'MYSQL_ROW row' at line 1
(B(B(B(B(B(B