# Diseño y construcción de una base de datos

### Jhon Eduwin Maya Orozco

Se utilizarán, para hacer la tarea, las bases de datos Menagerie, sakila y world_x. Se muestran los esquema de las bases.

### Diagrama ER SAKILA

![](esquemaER.png)

### Diagrama ER menagerie

![](esquema_menagerie.png)

### Diagrama ER world_x

![](ERworld_x.png)

In [1]:
use menagerie;

In [2]:
show tables;

Tables_in_menagerie
event
pet

In [3]:
select * from event;
select * from pet;

In [4]:
select name, owner from pet;

name,owner
Fluffy,Harold
Claws,Gwen
Buffy,Harold
Fang,Benny
Bowser,Diane
Chirpy,Gwen
Whistler,Gwen
Slim,Benny
Puffball,Diane

## Procedimientos almacenados

Para explicar los procedimientos almacenados pongámonos en una situación, imaginemos que nos encontramos en un entorno de trabajo en el cual hay varias personas con varias aplicaciones trabajando contra una base de datos, por ejemplo 6 usuarios con 6 applicaciones diferentes que trabajan sobre la misma base de datos y constantemente hacen consultas sobre ella. 

En estos casos es bastante útil crear un procedimiento almacenado por cuestiones tanto de eficiencia como de seguridad, los procedimientos almacenados como su nombre lo indica son acciones predeterminadas a las que los usuarios de la base de datos pueden acceder de manera sencilla, con el fin de acortar tiempo y por lo tanto mejorar la eficiencia, así un usuario no tendrá que crear cada vez que necesite hacer una consulta un query, sino que a traves de un procedimiento almacenado puede acceder a esta misma información directamente, además el administrador de bases de datos tendrá la confianza de que los usuarios no modificaran por error los registros de la base de datos al utilizarla directamente, sino que siempre lo harán a traves de un procedimiento diseñado y almacenado directamente por el. 

pueden asemejarse los procedimientos almacenados a las funciones en otros lenguajes de programación. A continuación podemos ver un ejemplo usando la base de datos sakila:

In [25]:
USE sakila;

Verificamos las tablas de la base de datos

In [28]:
SHOW FULL TABLES;

Tables_in_sakila,Table_type
actor,BASE TABLE
actor_info,VIEW
address,BASE TABLE
category,BASE TABLE
city,BASE TABLE
country,BASE TABLE
customer,BASE TABLE
customer_list,VIEW
film,BASE TABLE
film_actor,BASE TABLE
film_category,BASE TABLE
film_list,VIEW
film_text,BASE TABLE
inventory,BASE TABLE
language,BASE TABLE
nicer_but_slower_film_list,VIEW
payment,BASE TABLE
rental,BASE TABLE
sales_by_film_category,VIEW
sales_by_store,VIEW
staff,BASE TABLE
staff_list,VIEW
store,BASE TABLE

Analizamos algunos campos de la tabla para entenderla, como ejemplo podemos crear un procedimiento que nos devuelva las peliculas que fueron estrenadas en un año determinada, únicamente especificando el año

In [32]:
SELECT *
FROM film
WHERE film_id < 10;

film_id,title,description,release_year,language_id,original_language_id,rental_duration,rental_rate,length,replacement_cost,rating,special_features,last_update
1,ACADEMY DINOSAUR,A Epic Drama of a Feminist And a Mad Scientist who must Battle a Teacher in The Canadian Rockies,2006,1,NULL,6,0.99,86,20.99,PG,"Deleted Scenes,Behind the Scenes",2006-02-15 05:03:42
2,ACE GOLDFINGER,A Astounding Epistle of a Database Administrator And a Explorer who must Find a Car in Ancient China,2006,1,NULL,3,4.99,48,12.99,G,"Trailers,Deleted Scenes",2006-02-15 05:03:42
3,ADAPTATION HOLES,A Astounding Reflection of a Lumberjack And a Car who must Sink a Lumberjack in A Baloon Factory,2006,1,NULL,7,2.99,50,18.99,NC-17,"Trailers,Deleted Scenes",2006-02-15 05:03:42
4,AFFAIR PREJUDICE,A Fanciful Documentary of a Frisbee And a Lumberjack who must Chase a Monkey in A Shark Tank,2006,1,NULL,5,2.99,117,26.99,G,"Commentaries,Behind the Scenes",2006-02-15 05:03:42
5,AFRICAN EGG,A Fast-Paced Documentary of a Pastry Chef And a Dentist who must Pursue a Forensic Psychologist in The Gulf of Mexico,2006,1,NULL,6,2.99,130,22.99,G,Deleted Scenes,2006-02-15 05:03:42
6,AGENT TRUMAN,A Intrepid Panorama of a Robot And a Boy who must Escape a Sumo Wrestler in Ancient China,2006,1,NULL,3,2.99,169,17.99,PG,Deleted Scenes,2006-02-15 05:03:42
7,AIRPLANE SIERRA,A Touching Saga of a Hunter And a Butler who must Discover a Butler in A Jet Boat,2006,1,NULL,6,4.99,62,28.99,PG-13,"Trailers,Deleted Scenes",2006-02-15 05:03:42
8,AIRPORT POLLOCK,A Epic Tale of a Moose And a Girl who must Confront a Monkey in Ancient India,2006,1,NULL,6,4.99,54,15.99,R,Trailers,2006-02-15 05:03:42
9,ALABAMA DEVIL,A Thoughtful Panorama of a Database Administrator And a Mad Scientist who must Outgun a Mad Scientist in A Jet Boat,2006,1,NULL,3,2.99,114,21.99,PG-13,"Trailers,Deleted Scenes",2006-02-15 05:03:42

A continuación se crea el procedimiento, se le da por nombre quantities2, y se especifica que recibira un parametro de tipo entero como argumento

In [46]:
CREATE PROCEDURE quantities2(queri INT)
SELECT *
FROM film
WHERE film_id < queri + 1;

Aquí le pasamos como parametro 10, con lo que se nos mostraran todas aquellas peliculas cuyo id sea 10 o menos

In [47]:
CALL quantities2(10);

film_id,title,description,release_year,language_id,original_language_id,rental_duration,rental_rate,length,replacement_cost,rating,special_features,last_update
1,ACADEMY DINOSAUR,A Epic Drama of a Feminist And a Mad Scientist who must Battle a Teacher in The Canadian Rockies,2006,1,NULL,6,0.99,86,20.99,PG,"Deleted Scenes,Behind the Scenes",2006-02-15 05:03:42
2,ACE GOLDFINGER,A Astounding Epistle of a Database Administrator And a Explorer who must Find a Car in Ancient China,2006,1,NULL,3,4.99,48,12.99,G,"Trailers,Deleted Scenes",2006-02-15 05:03:42
3,ADAPTATION HOLES,A Astounding Reflection of a Lumberjack And a Car who must Sink a Lumberjack in A Baloon Factory,2006,1,NULL,7,2.99,50,18.99,NC-17,"Trailers,Deleted Scenes",2006-02-15 05:03:42
4,AFFAIR PREJUDICE,A Fanciful Documentary of a Frisbee And a Lumberjack who must Chase a Monkey in A Shark Tank,2006,1,NULL,5,2.99,117,26.99,G,"Commentaries,Behind the Scenes",2006-02-15 05:03:42
5,AFRICAN EGG,A Fast-Paced Documentary of a Pastry Chef And a Dentist who must Pursue a Forensic Psychologist in The Gulf of Mexico,2006,1,NULL,6,2.99,130,22.99,G,Deleted Scenes,2006-02-15 05:03:42
6,AGENT TRUMAN,A Intrepid Panorama of a Robot And a Boy who must Escape a Sumo Wrestler in Ancient China,2006,1,NULL,3,2.99,169,17.99,PG,Deleted Scenes,2006-02-15 05:03:42
7,AIRPLANE SIERRA,A Touching Saga of a Hunter And a Butler who must Discover a Butler in A Jet Boat,2006,1,NULL,6,4.99,62,28.99,PG-13,"Trailers,Deleted Scenes",2006-02-15 05:03:42
8,AIRPORT POLLOCK,A Epic Tale of a Moose And a Girl who must Confront a Monkey in Ancient India,2006,1,NULL,6,4.99,54,15.99,R,Trailers,2006-02-15 05:03:42
9,ALABAMA DEVIL,A Thoughtful Panorama of a Database Administrator And a Mad Scientist who must Outgun a Mad Scientist in A Jet Boat,2006,1,NULL,3,2.99,114,21.99,PG-13,"Trailers,Deleted Scenes",2006-02-15 05:03:42
10,ALADDIN CALENDAR,A Action-Packed Tale of a Man And a Lumberjack who must Reach a Feminist in Ancient China,2006,1,NULL,6,4.99,63,24.99,NC-17,"Trailers,Deleted Scenes",2006-02-15 05:03:42

## Funciones

Una funcion es un programa almacenado en mariaDB al cual se le pueden pasar parámetros y nos regresa un resultado luego de evaluar los parámetros asignados, existen funciones built-in en mariaDB que son aquellas que vienen programadas por defecto dentro del RDBMS, como también podemos crear nuestras propias funciones si tenemos los permisos suficientes y usarla luego como cualquier otra funcion. Veamos un ejemplo utilizando la BD Menagerie

In [1]:
USE menagerie;

In [2]:
SHOW TABLES;

Tables_in_menagerie
event
pet

In [3]:
SELECT * 
FROM event;

name,date,type,remark
Fluffy,1995-05-15,litter,"4 kittens, 3 female, 1 male"
Buffy,1993-06-23,litter,"5 puppies, 2 female, 3 male"
Buffy,1994-06-19,litter,"3 puppies, 3 female"
Chirpy,1999-03-21,vet,needed beak straightened
Slim,1997-08-03,vet,broken rib
Bowser,1991-10-12,kennel,NULL
Fang,1991-10-12,kennel,NULL
Fang,1998-08-28,birthday,Gave him a new chew toy
Claws,1998-03-17,birthday,Gave him a new flea collar
Whistler,1998-12-09,birthday,First birthday

In [7]:
SELECT COUNT(*) FROM event;
SELECT COUNT(DISTINCT type) FROM event;

COUNT(*)
10
COUNT(DISTINCT type)
4

In [32]:
describe event;

Field,Type,Null,Key,Default,Extra
name,varchar(20),YES,,NULL,
date,date,YES,,NULL,
type,varchar(15),YES,,NULL,
remark,varchar(255),YES,,NULL,

In [41]:
CREATE FUNCTION nombres()
RETURNS  FROM event;

You have an error in your SQL syntax; check the manual that corresponds to your MariaDB server version for the right syntax to use near 'RETURN name FROM event' at line 2
(B(B

## Triggers

Un trigger o disparador es un objeto que se crea en una base de datos, como una tabla o una vista, este objeto trigger siempre estará asociado a una tabla o relación de nuestra base, y este objeto desencadenará una acción predeterminada cuando ocurra un evento en esa relación con la cual esta ligado.

En una relación pueden ocurrir diferentes eventos, por ejemplo:

*  insertar registros
*  actualizar registros
*  eliminar registros

Por lo tanto un trigger es un objeto que desencadenará una acción cuando alguien inserte, actualice o elimine registros en la relación a la cual está asociado, es decir, cuando se utilicen las instrucciones INSERT, UPDATE o DELETE.

Ahora bien, ¿cuál es la utilidad de un trigger?

Imaginemos que somos los administradores de una base de datos sobre la que trabajan 30 personas y necesitamos llevar un registro de los usuarios que modifican entradas en la relación y cuando lo han hecho, esta tarea puede ser llevada a cabo por un trigger, pues puede desencadenar una acción luego de que algún usuario inserte, modifique o elimine entradas en la tabla. Esta acción puede ser almacenar en otra tabla diferente el nombre del usuario que ejecutó la acción y el momento exacto en que lo hizo.

Estos también se pueden utilizar para tener respaldo sobre la información de la base de datos, se puede diseñar un trigger que se dispare al ingresar o modificar información en la tabla que guarde la tabla antigua en una tabla de respaldo para mantener siempre una copia de la tabla antes de las modificaciones hechas por algun usuario. veamos ahora un ejemplo

Usaremos la base de datos world_x para este ejemplo

In [8]:
USE world_x;

Creamos una nueva tabla que llamaremos prueba_trigger donde almacenaremos 2 datos, el nombre de la nueva entrada, y el momento exacto en el que se adicionó la entrada, estas columnas las llamamos nombre y momento.

In [10]:
CREATE TABLE prueba_trigger(
    nombre VARCHAR(20),
    momento DATETIME
);

Ahora definimos el disparador, especificando que se ejecutara después de insertar un nuevo registro en la tabla city, además que se realizará cada vez que se inserte un nuevo renglón, también puede realizarse para conjuntos de renglones, en este caso nos interesa que el trigger se dispare por cada nuevo renglón. utilizamos la función NOW() para determinar el momento en el que se realiza el registro y NEW.Name para el nuevo registro de la columna Name en la tabla city.

In [14]:
CREATE TRIGGER city_ai 
AFTER INSERT ON city 
FOR EACH ROW INSERT INTO prueba_trigger(
    nombre, 
    momento
) VALUES(
    NEW.Name,
    NOW()
);

Ahora insertamos un nuevo registro para verificar si el trigger funciona

In [22]:
INSERT INTO  city (
    Name, CountryCode, District, Info
) VALUES(
    "Armenia", "COL", "Quindio", "{""Population"": 250000}"
);

Se puede ver que en la nueva tabla ahora hay un registro con el nombre de la nueva ciudad y el momento exacto en el que se creo el registro

In [23]:
SELECT * 
FROM prueba_trigger;

nombre,momento
Armenia,2021-08-06 18:23:08